# ============================================
# Frontend ENVIRONMENT VARIABLES
# Save this file as: client/.env
# ============================================

# Currency Symbol Display (Rs, $, €, £, etc.)
VITE_CURRENCY='Rs'


# Backend API URL 
VITE_BACKEND_URL="http://localhost:5000"